<!doctype html>
<html lang="en">

<head>
  <title>{% block pagetitle %}{% endblock %}Gramberry</title>
  <script type="module" src="https://unpkg.com/time-elements@3.0.0/dist/time-elements.js"></script>
  <style type="text/css">
    body {
      background: black;
      margin: 40px auto;
      max-width: 650px;
      line-height: 1.6;
      font-size: 18px;
      color: #BBB;
      padding: 0 10px
    }

    h1,
    h2,
    h3 {
      line-height: 1.2
    }
  </style>
  {% block head %}{% endblock %}
</head>

<body>
  {% match maybe_auth %}
  {% when Some with (auth) %}
  <nav>
    {{auth.friendly_name|unwrapstring}}
    <a href="/">Home</a> |
    <a href="/calls">Calls</a> 
    (<a href="/recordings">WAVs</a>; <a href="/transcriptions">TXT</a>) |
    <a href="/sms">SMS</a> |
    <a href="/log_out">Log Out</a>
  </nav>
  {% else %}
  {% endmatch %}

  {% block content %}
  {% endblock %}
</body>

</html>
