{% extends "application.html" %}

{% block pagetitle %}Calls on {% endblock %}

{% block content %}
<h1> HI FROM CALLS_INDEX TEMPLATE! </h1>

<ul>
  {% for call in calls %}
  {% let sid = call.sid|unwrapstring %}
  <li sid="{{sid}}">
    <code>
    {% if call.direction|is_inbound_string %}
      📥 {{ call.from|unwrapstring }}
    {% else %}
      📤 {{ call.to|unwrapstring }}
    {% endif %}

    {% match call.duration %}
    {% when Some with (duration) %}
    for {{ duration }}s
    {% when None %}
    in progress
    {% endmatch %}

    starting
    <relative-time datetime="{{call.date_created|unwrapstring}}"></relative-time>
    </code>
    {% if call.duration|non_zero_string %}
    <a href="calls/{{sid}}/recordings">Recordings</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>

{% endblock %}
