{% extends "application.html" %}

{% block pagetitle %}Calls{% endblock %}

{% block content %}
<h1> HI FROM CALLS TEMPLATE! </h1>

<ul>
  {% for call in calls %}
  <li>
    <ul>
      <li>
        {% match call.sid %}
        {% when Some with (sid) %}
        sid: {{ sid }}
        {% when None %}
        {% endmatch %}
      </li>
      <li>
        {% match call.to %}
        {% when Some with (to) %}
        to: {{ to }}
        {% when None %}
        {% endmatch %}
      </li>
      <li>
        {% match call.from %}
        {% when Some with (from) %}
        from: {{ from }}
        {% when None %}
        {% endmatch %}
      </li>
      <li>
        {% match call.date_created %}
        {% when Some with (date_created) %}
        <!-- TODO: parse server-side RFC2822, then output here to ISO8601 -->
        date_created: <local-time datetime="{{ date_created }}">{{ date_created }}</local-time>
        {% when None %}
        {% endmatch %}
      </li>
      <li>
        {% match call.duration %}
        {% when Some with (duration) %}
        duration: {{ duration }}s
        {% when None %}
        still in progress
        {% endmatch %}
      </li>
    </ul>
  </li>
  {% endfor %}
</ul>

{% endblock %}
