{% extends "application.html" %}

{% block pagetitle %}Welcome to {% endblock %}

{% block content %}
<h1>Welcome!</h1>
<p>This is an attempt at a Twilio frontend to help me manage my numbers in there.
It is currently read-only and tries to help me read the data in twilio quickly.</p>
{% match maybe_auth %}
{% when Some with (twilio_auth) %}
<p>Logged into: {{twilio_auth.friendly_name|unwrapstring}}</p>
{% when None %}
<h2>You need to log in.</h2>

<p>Sleep easy, submitting this form only creates an encrypted,
Secure, HttpOnly cookie. Your secrets are stored only in your
browser.</p>

<form action="/session" method="post">
  <ul>
    <li>Account SID: <input type="text" name="account_sid" /></li>
    <li>Secret Token: <input type="text" name="secret_token" /></li>
    <li><button type="submit">Submit</button></li>
  </ul>
</form>

{% endmatch %}

{% endblock %}
